<footer class="footer">
    <div class="container footer-container">
        <picture>
            <source srcset="
            /img/footer/desk.png 1x,
            /img/footer/desk@2x.png 2x
            " media="(min-width: 1440px)" />
            <source srcset="
            /img/footer/mob.png 1x,
            /img/footer/mob@2x.png 2x
            " media="(max-width: 1439px)" />
            <img src="/img/footer/mob.png" alt="Pay services" loading="lazy" />
        </picture>        
        <ul class="footer-list">
            <li class="footer-active footer-item">
                <p>+18</p>
            </li>
            <li class="footer-item">
                <p>Responsible Gaming</p>
            </li>
<li class="footer-item">
    <p>SSL</p>
</li>
<li class="footer-item">
    <p>Licensed</p>
</li>
<li class="footer-item">
    <p>Safe Play</p>
</li>
        </ul>
        <p class="footer-text">© 2026 Casino Ranking PL. All rights reserved.</p>
    </div>
</footer>