<section class="home-section" id="home">
    <div class="container home-container">
        <ul class="home-list">
            <li class="home-item">
                <p>100% bezpieczne</p>
            </li>
            <li class="home-item">
                <p>18+</p>
            </li>
            <li class="home-item">
                <p>szybkie wypłaty</p>
            </li>
        </ul>
        <h1 class="home-title">Najlepsze kasyna online w Polsce — nowe propozycje 2026</h1>
<p class="home-text">Poznaj aktualny ranking sprawdzonych platform. Porównaj bonusy, metody płatności oraz opinie graczy i wybierz miejsce
dopasowane do Twojego stylu gry.</p>
    </div>
</section>