body{
  background: #06001c;
  background-image: url("/img/back/mob.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  font-family: "Anek Latin", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
body {
    background-image: url("/img/back/desk.png");
font-size: 14px;
  line-height: 1.42857;
  }
}