.footer {
border-top: 1px solid #eb00fe;
background: #030504;
}
.footer-container{
  padding: 36px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-list{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.footer-item{
  font-family: "Anek Latin", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    text-align: center;
    color: #fff;
}
.footer-active{
    font-weight: 800;
    color: #eb00fe;
}
.footer-text{
  margin-top: 20px;
    text-align: center;
    color: #eb00fe;
}
@media only screen and (min-width: 1440px) {
.footer-container {
    padding: 40px 382px;
  }
  .footer-list{
    margin-top: 32px;
  }
    .footer-item{
      font-size: 16px;
    }
  .footer-text{
    font-size: 16px;
  }
}